<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading" class="wrapper">
  <app-header [evento]="iniciarSesion.asObservable()"></app-header>
  <main>
    <router-outlet (activate)="suscribeToEmmiter($event)" (deactivate)="suscribeToEmmiter($event)"></router-outlet>
  </main>
  <app-footer [evento]="iniciarSesion.asObservable()"></app-footer>
</div>
