<div class="cart-container">
    <div class="content-box">
      <h3>Tu Carrito</h3>
      <div class="cart-list">
        <div class="cart-item" *ngFor="let producto of carrito">
          <p>{{ producto.Nombre }} - ${{ producto.Precio }} x {{ producto.cantidad }}</p>
          <button (click)="eliminarProducto(producto)">Eliminar</button>
        </div>
      </div>
      <div class="resumen">
          <div class="total">
              <p>Total: {{ total | currency }}</p>
          </div>
          <div>
            <label for="tipoPago">Pago por:</label>
            <select id="tipoPago" [(ngModel)]="tipoPago" (change)="cambiarPago($event)">
              <option *ngFor="let tipo of metodoPago" [ngValue]="tipo">{{ tipo.Metodo.toLocaleUpperCase() }}</option>
            </select>
          </div>
          <div class="btns">
            <button class="pay-button" (click)="pagarCarritos()">Pagar</button>
            <button class="clear-cart-button" (click)="vaciarCarrito()">Vaciar Carrito</button>
          </div>
          
       </div>
    </div>
      
  </div>
  